<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <h1 class="mt-4 mb-4">User Details</h1>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">ID: <span th:text="${product.id}"></span></h5>
            <p class="card-text">Product Name: <span th:text="${product.productName}"></span></p>
            <p class="card-text">Category: <span th:text="${product.category.settingName}"></span></p>
            <p class="card-text">Brand: <span th:text="${product.brand.settingName}"></span></p>
            <p class="card-text">Price: <span th:text="${product.price}"></span></p>
            <p class="card-text">Stock: <span th:text="${product.stock}"></span></p>
            <p class="card-text">Status: <span th:text="${product.status}"></span></p>
            <a href="/productlist" class="btn btn-primary">Back to Products List</a>
        </div>
    </div>
</div>

<!-- Bootstrap JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"
        integrity="sha384-xN0yTCVg3D5xrsg/29WGmP2lZSopDzGwkzyJguAvI5BZ6f6B2pCE9anm+QP69b2Q"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy2FNY2cJmfwndY6Bjh0qV/C5N7lko6F1g"
        crossorigin="anonymous"></script>
</body>
</html>
