<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h1 class="mt-4">Product List</h1>

    <div class="row mb-3 form-row form-inline">
        <div class="col-md-3 form-group">
            <label for="status-filter" class="mr-2">Status:</label>
            <select id="status-filter" class="form-control" onchange="filterProduct()">
                <option value="">All</option>
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
            </select>
        </div>
        <div class="col-md-3 form-group">
            <label for="search" class="mr-2">Search:</label>
            <input type="text" id="search" class="form-control" placeholder="Search Products...">
        </div>
        <div class="col-md-3 form-group">
            <button class="btn btn-primary float-left" onclick="filterProduct()">Search</button>
        </div>
    </div>

    <table class="table table-striped">
        <thead class ="thead-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Brand</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${productPage.empty}">
            <td colspan="8" class="text-center">No Product found.</td>
        </tr>
        <tr th:each="product : ${productPage.content}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.productName}"></td>
            <td th:text="${product.category.settingName}"></td>
            <td th:text="${product.brand.settingName}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.stock}"></td>
            <td th:text="${product.status}"></td>
            <td>
                <div class="btn-group">
                    <a th:href="@{/productlistdetail(productId=${product.id})}" class="btn btn-primary btn-sm">View Detail</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <nav aria-label="Page navigation" th:if="${not productPage.empty}">
        <ul class="pagination justify-content-center">
            <!-- Nút First -->
            <li th:class="${productPage.first} ? 'page-item disabled' : 'page-item'">
                <a class="page-link" th:href="@{/productlist(page=0, status=${status}, search=${search})}">&laquo; First</a>
            </li>

            <!-- Nút Previous -->
            <li th:class="${productPage.hasPrevious()} ? 'page-item' : 'page-item disabled'">
                <a class="page-link" th:href="@{/productlist(page=${productPage.number - 1}, status=${status}, search=${search})}">&lsaquo; Previous</a>
            </li>

            <!-- Các trang -->
            <li th:each="i : ${#numbers.sequence(productPage.number - 2, productPage.number + 2)}"
                th:class="${productPage.number == i ? 'page-item active' : 'page-item'}"
                th:if="${i >= 0 and i < productPage.totalPages}">
                <a class="page-link" th:href="@{'/productlist?page=' + ${i} + '&status=' + ${status} + '&search=' + ${search}}" th:text="${i + 1}"></a>
            </li>

            <!-- Nút Next -->
            <li th:class="${productPage.hasNext()} ? 'page-item' : 'page-item disabled'">
                <a class="page-link" th:href="@{/productlist(page=${productPage.number + 1}, status=${status}, search=${search})}">Next &rsaquo;</a>
            </li>

            <!-- Nút Last -->
            <li th:class="${productPage.last} ? 'page-item disabled' : 'page-item'">
                <a class="page-link" th:href="@{/productlist(page=${productPage.totalPages - 1}, status=${status}, search=${search})}">Last &raquo;</a>
            </li>
        </ul>
    </nav>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"
        integrity="sha384-xN0yTCVg3D5xrsg/29WGmP2lZSopDzGwkzyJguAvI5BZ6f6B2pCE9anm+QP69b2Q"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script th:inline="javascript">
    function filterProduct() {
        var status = document.getElementById('status-filter').value;
        var search = document.getElementById('search').value;
        window.location.href = '/productlist?page=0' + (status ? '&status=' + status : '') + (search ? '&search=' + search : '');
    }
</script>


</body>
</html>
