<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout.html}">

<section layout:fragment="content">
	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a th:href="@{#}">Home</a></li>
				  <li class="active">Check out</li>
				</ol>
			</div><!--/breadcrums-->

			<div class="step-one">
				<h2 class="heading">Step1</h2>
			</div>

			<div class="shopper-informations">
				<div class="row">
					<div class="col-sm-5 clearfix">
						<div class="bill-to">
							<p>Bill To</p>
							<div class="form-one">
								<form>
									<input type="text" placeholder="Email*">
									<input type="text" placeholder="Full Name">
									<input type="text" placeholder="Phone">
									<input type="text" placeholder="Address">
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="review-payment">
				<h2>Review & Payment</h2>
			</div>

			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description"></td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
					<tbody th:each="cartdetail : ${cartdetails}">
					<tr>
						<td class="cart_product">
							<a th:href="@{#}"><img th:src="@{${productService.getProductById(cartdetail.product.id).productImage}}" alt="" height="200" width="200"></a>
						</td>
						<td class="cart_description">
							<h4><a th:href="@{#}" th:text="${productService.getProductById(cartdetail.product.id).productName}"></a></h4>
							<p>Web ID: [[${cartdetail.product.id}]]</p>
						</td>
						<td class="cart_price">
							<p th:text="${productService.getProductById(cartdetail.product.id).price}">$0.00</p>
						</td>
						<td class="cart_quantity">
							<div class="cart_quantity_button">
								<a class="cart_quantity_up" th:href="@{/cart/update(cartdetailId=${cartdetail.id}, quantity=${cartdetail.quantity + 1})}" th:if="${cartdetail.quantity < 20}">
									+ <!-- Increment quantity -->
								</a>
								<input class="cart_quantity_input" type="text" name="quantity" th:value="${cartdetail.quantity}" autocomplete="off" size="2">
								<a class="cart_quantity_down" th:href="@{/cart/update(cartdetailId=${cartdetail.id}, quantity=${cartdetail.quantity - 1})}" th:if="${cartdetail.quantity > 1}">
									- <!-- Decrement quantity -->
								</a>
							</div>
						</td>

						<td class="cart_total">
							<p class="cart_total_price">$[[${productService.getProductById(cartdetail.product.id).price}*${cartdetail.quantity}]]</p>
						</td>

						<td class="cart_delete">
							<a class="cart_quantity_delete" th:href="@{/cart/remove(orderDetailId=${cartdetail.id})}"><i class="fa fa-times"></i></a>
						</td>
					</tr>

						<tr>
							<td colspan="4">&nbsp;</td>
							<td colspan="2">
								<table class="table table-condensed total-result">
									<tr class="shipping-cost">
										<td>Shipping Cost</td>
										<td>Free</td>
									</tr>
									<tr>
										<td>Total</td>
										<td><span>$[[${cartTotal}]]</span></td>
									</tr>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="payment-options">
					<span>
						<label><input type="checkbox"> Check Payment</label>
					</span>
					<span>
						<label><input type="checkbox"> COD</label>
					</span>
				</div>
		</div>
	</section>

</section>
</html>