<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Detail</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Products</h2>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="thead-light">
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="detail : ${orderDetails}">
                        <td><img th:src="@{'/images/' + ${detail.product.productImage}}" alt="Product Image" class="img-fluid"></td>
                        <td th:text="${detail.product.productName}"></td>
                        <td th:text="${detail.price}"></td>
                        <td th:text="${detail.quantity}"></td>
                        <td th:text="${detail.price * detail.quantity}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="card-title">Delivery Details</h2>
                    <form>
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" id="name" name="name" th:value="${order.user.userName}" class="form-control" disabled>
                        </div>

                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="text" id="email" name="email" th:value="${order.user.email}" class="form-control" disabled>
                        </div>

                        <div class="form-group">
                            <label for="phone">Phone:</label>
                            <input type="text" id="phone" name="phone" th:value="${order.user.phone}" class="form-control" disabled>
                        </div>

                        <div class="form-group">
                            <label for="address">Address:</label>
                            <textarea id="address" name="address" rows="3" th:text="${order.user.address}" class="form-control" disabled></textarea>
                        </div>
                    </form>
                </div>

                <div class="col-md-6">
                    <h2 class="card-title">Summary</h2>
                    <div class="form-group">
                        <label>Total Amount:</label>
                        <span th:text="${order.total}" class="form-control"></span>
                    </div>

                    <div class="form-group">
                        <label>Payment Method:</label>
                        <div class="form-check">
                            <input type="radio" id="payment-method-cash" name="payment-method" value="cash" th:checked="${order.method == 'COD'}" class="form-check-input" disabled>
                            <label for="payment-method-cash" class="form-check-label">Cash on Delivery</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" id="payment-method-card" name="payment-method" value="card" th:checked="${order.method == 'credit card'}" class="form-check-input" disabled>
                            <label for="payment-method-card" class="form-check-label">Credit Card</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" id="payment-method-paypal" name="payment-method" value="paypal" th:checked="${order.method == 'paypal'}" class="form-check-input" disabled>
                            <label for="payment-method-paypal" class="form-check-label">PayPal</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Order Status:</label>
                        <div class="form-check">
                            <input type="radio" id="order-status-pending" name="order-status" value="pending" th:checked="${order.status == 'pending'}" class="form-check-input" disabled>
                            <label for="order-status-pending" class="form-check-label">Pending</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" id="order-status-completed" name="order-status" value="completed" th:checked="${order.status == 'completed'}" class="form-check-input" disabled>
                            <label for="order-status-completed" class="form-check-label">Completed</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Back Button -->
    <div class="mt-4">
        <a href="javascript:history.back()" class="btn btn-primary">Back</a>
    </div>
</div>

<!-- Include Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
