<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h1 class="mt-4">Order List</h1>

    <div class="row mb-3 form-row form-inline">
        <div class="col-md-3 form-group">
            <label for="status-filter" class="mr-2">Status:</label>
            <select id="status-filter" class="form-control">
                <option value="all">Statuses</option>
                <option value="">All</option>
                <option value="pending">Pending</option>
                <option value="completed">Completed</option>
            </select>
        </div>
        <div class="col-md-3 form-group">
            <label for="search" class="mr-2">Search:</label>
            <input type="text" id="search" class="form-control" placeholder="Search orders...">
        </div>
        <div class="col-md-3 form-group">
            <button class="btn btn-primary float-left" onclick="filterOrders()">Search</button>
        </div>
    </div>

    <table class="table table-striped">
        <thead class ="thead-dark">
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Receiver</th>
            <th>Email</th>
            <th>Total</th>
            <th>Status</th>
            <th>Method</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${orderPage.empty}">
            <td colspan="8" class="text-center">No orders found.</td>
        </tr>
        <tr th:each="order : ${orderPage.content}">
            <td th:text="${order.id}"></td>
            <td th:text="${#dates.format(order.orderDate, 'dd/MM/yyyy HH:mm')}"></td>
            <td th:text="${order.user.userName}"></td>
            <td th:text="${order.user.email}"></td>
            <td th:text="${order.total}"></td>
            <td th:text="${order.status}"></td>
            <td th:text="${order.method}"></td>
            <td>
                <div class="btn-group">
                    <a th:href="@{/orders/details(orderId=${order.id})}" class="btn btn-primary btn-sm">View</a>
                    <button class="btn btn-danger btn-sm"
                       th:onclick="return confirmAndSubmit([[${order.id}]])">Cancel</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Pagination -->

    <nav aria-label="Page navigation" th:if="${not orderPage.empty}">
        <ul class="pagination justify-content-center">
            <!-- Nút First -->
            <li th:class="${orderPage.first} ? 'page-item disabled' : 'page-item'">
                <a class="page-link" th:href="@{/orders/list(page=0, status=${status}, search=${search})}">&laquo; First</a>
            </li>

            <!-- Nút Previous -->
            <li th:class="${orderPage.hasPrevious()} ? 'page-item' : 'page-item disabled'">
                <a class="page-link" th:href="@{/orders/list(page=${orderPage.number - 1}, status=${status}, search=${search})}">&lsaquo; Previous</a>
            </li>

            <!-- Các trang -->
            <li th:each="i : ${#numbers.sequence(orderPage.number - 2, orderPage.number + 2)}"
                th:class="${orderPage.number == i ? 'page-item active' : 'page-item'}"
                th:if="${i >= 0 and i < orderPage.totalPages}">
                <a class="page-link" th:href="@{'/orders/list?page=' + ${i} + '&status=' + ${status} + '&search=' + ${search}}" th:text="${i + 1}"></a>
            </li>

            <!-- Nút Next -->
            <li th:class="${orderPage.hasNext()} ? 'page-item' : 'page-item disabled'">
                <a class="page-link" th:href="@{/orders/list(page=${orderPage.number + 1}, status=${status}, search=${search})}">Next &rsaquo;</a>
            </li>

            <!-- Nút Last -->
            <li th:class="${orderPage.last} ? 'page-item disabled' : 'page-item'">
                <a class="page-link" th:href="@{/orders/list(page=${orderPage.totalPages - 1}, status=${status}, search=${search})}">Last &raquo;</a>
            </li>
        </ul>
    </nav>
</div>

<script th:inline="javascript">
    function confirmAndSubmit(orderId) {
        if (confirm('Are you sure you want to cancel this order?')) {
            fetch('/orders/cancel?orderId=' + orderId, {
                method: 'Get',
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(response => {
                if (response.ok) {
                    // Redirect or update UI as needed
                    window.location.href = '/orders/list';
                } else {
                    console.error('Delete request failed');
                }
            }).catch(error => {
                console.error('Error during delete request:', error);
            });
        }
        return false; // Prevent the link from being followed immediately
    }
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"
        integrity="sha384-xN0yTCVg3D5xrsg/29WGmP2lZSopDzGwkzyJguAvI5BZ6f6B2pCE9anm+QP69b2Q"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script th:inline="javascript">
    function filterOrders() {
        var status = document.getElementById('status-filter').value;
        var search = document.getElementById('search').value;
        window.location.href = '/orders/list?page=0' + (status ? '&status=' + status : '') + (search ? '&search=' + search : '');
    }
</script>

</body>
</html>
