<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>User List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="mt-4 mb-4">User List</h1>
        <a href="/users/add" class="btn btn-success">Add User</a>
    </div>

    <div class="row mb-3 form-row form-inline">
        <div class="col-md-3 form-group">
            <label for="status-filter" class="mr-2">Status:</label>
            <select id="status-filter" class="form-control">
                <option value="">All</option>
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
            </select>
        </div>
        <div class="col-md-3 form-group">
            <label for="search" class="mr-2">Search:</label>
            <input type="text" id="search" class="form-control" placeholder="Search User...">
        </div>
        <div class="col-md-3 form-group">
            <button class="btn btn-primary float-left" onclick="filteUser()">Search</button>
        </div>
    </div>

    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone.No</th>
            <th>Address</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tr th:if="${userPage.empty}">
            <td colspan="8" class="text-center">No user found.</td>
        </tr>
        <tbody>
        <tr th:each="user : ${userPage.content}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.userName}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.address}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.status}"></td>
            <td>
                <a th:href="@{/users/view(userId=${user.id})}" class="btn btn-primary btn-sm">View</a>
                <a th:href="@{/users/edit(userId=${user.id})}" class="btn btn-primary btn-sm">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <nav aria-label="Page navigation" th:if="${not userPage.empty}">
        <ul class="pagination justify-content-center">
            <!-- Nút First -->
            <li th:class="${userPage.first} ? 'page-item disabled' : 'page-item'">
                <a class="page-link" th:href="@{/users/list(page=0, status=${status}, search=${search})}">&laquo; First</a>
            </li>

            <!-- Nút Previous -->
            <li th:class="${userPage.hasPrevious()} ? 'page-item' : 'page-item disabled'">
                <a class="page-link" th:href="@{/users/list(page=${userPage.number - 1}, status=${status}, search=${search})}">&lsaquo; Previous</a>
            </li>

            <!-- Các trang -->
            <li th:each="i : ${#numbers.sequence(userPage.number - 2, userPage.number + 2)}"
                th:class="${userPage.number == i ? 'page-item active' : 'page-item'}"
                th:if="${i >= 0 and i < userPage.totalPages}">
                <a class="page-link" th:href="@{'/users/list?page=' + ${i} + '&status=' + ${status} + '&search=' + ${search}}" th:text="${i + 1}"></a>
            </li>

            <!-- Nút Next -->
            <li th:class="${userPage.hasNext()} ? 'page-item' : 'page-item disabled'">
                <a class="page-link" th:href="@{/users/list(page=${userPage.number + 1}, status=${status}, search=${search})}">Next &rsaquo;</a>
            </li>

            <!-- Nút Last -->
            <li th:class="${userPage.last} ? 'page-item disabled' : 'page-item'">
                <a class="page-link" th:href="@{/users/list(page=${userPage.totalPages - 1}, status=${status}, search=${search})}">Last &raquo;</a>
            </li>
        </ul>
    </nav>

</div>

<!-- Bootstrap JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"
        integrity="sha384-xN0yTCVg3D5xrsg/29WGmP2lZSopDzGwkzyJguAvI5BZ6f6B2pCE9anm+QP69b2Q"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy2FNY2cJmfwndY6Bjh0qV/C5N7lko6F1g"
        crossorigin="anonymous"></script>

<script th:inline="javascript">
    function filteUser() {
        var status = document.getElementById('status-filter').value;
        var search = document.getElementById('search').value;
        window.location.href = '/users/list?page=0' + (status ? '&status=' + status : '') + (search ? '&search=' + search : '');
    }
</script>
</body>
</html>
