<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout.html}">

<section layout:fragment="content" >
	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Shopping Cart</li>
				</ol>
			</div>


			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description"></td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody th:each="cartdetail : ${cartdetails}">
					<tr>
						<td class="cart_product">
							<a th:href="@{#}"><img th:src="@{${productService.getProductById(cartdetail.product.id).productImage}}" alt="" height="200" width="200"></a>
						</td>
						<td class="cart_description">
							<h4><a th:href="@{#}" th:text="${productService.getProductById(cartdetail.product.id).productName}"></a></h4>
							<p>Web ID: [[${cartdetail.product.id}]]</p>
						</td>
						<td class="cart_price">
							<p th:text="${productService.getProductById(cartdetail.product.id).price}">$0.00</p>
						</td>
						<td class="cart_quantity">
							<div class="cart_quantity_button">
								<a class="cart_quantity_up" th:href="@{/cart/update(cartdetailId=${cartdetail.id}, quantity=${cartdetail.quantity + 1})}" th:if="${cartdetail.quantity < 20}">
									+ <!-- Increment quantity -->
								</a>
								<input class="cart_quantity_input" type="text" name="quantity" th:value="${cartdetail.quantity}" autocomplete="off" size="2">
								<a class="cart_quantity_down" th:href="@{/cart/update(cartdetailId=${cartdetail.id}, quantity=${cartdetail.quantity - 1})}" th:if="${cartdetail.quantity > 1}">
									- <!-- Decrement quantity -->
								</a>
							</div>
						</td>

						<td class="cart_total">
							<p class="cart_total_price">$[[${productService.getProductById(cartdetail.product.id).price}*${cartdetail.quantity}]]</p>
						</td>

						<td class="cart_delete">
							<a class="cart_quantity_delete" th:href="@{/cart/remove(orderDetailId=${cartdetail.id})}"><i class="fa fa-times"></i></a>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->

	<section id="do_action">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="total_area">
						<ul>
							<li>Total <span>$[[${cartTotal}]]</span></li>
						</ul>
							<a class="btn btn-default check_out" th:href="@{/orders/checkout(cartId=${cart.id})}">Check Out</a>
					</div>
				</div>
			</div>
		</div>
	</section><!--/#do_action-->
</section>
</html>