<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Email Verification</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>
<body class="flex items-center justify-center min-h-screen bg-gray-100">
<div class="w-full max-w-md p-8 space-y-8 bg-white rounded-lg shadow-md">
    <p th:text="'Send to, ' + ${email} + '!'"></p>
    <div>
        <a th:href="@{'http://localhost:8080/send_verification?email=' + ${email}}" class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-red-600 border border-transparent rounded-md shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
            Verification Email
        </a>
    </div>
    <p th:text="${message}"></p>
</div>
</body>
</html>
