<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout.html}">

<section layout:fragment="content" th:object="${product}">
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-products-->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#category">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											CATEGORY
										</a>
									</h4>
								</div>
								<div id="category" class="panel-collapse collapse">
									<div class="panel-body">
										<ul th:each="category : ${category}">
											<li><a th:href="@{/public_page(category=${category.settingName})}">[[${category.settingName}]]</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div><!--/category-products-->

						<h2>BRAND</h2>
						<div class="panel-group category-products" id="accordian1"><!--category-products-->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian1" href="#brand">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											BRAND
										</a>
									</h4>
								</div>
								<div id="brand" class="panel-collapse collapse">
									<div class="panel-body">
										<ul th:each="brand : ${brand}">
											<li><a th:href="@{/public_page(brand=${brand.settingName})}">[[${brand.settingName}]]</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div><!--/category-products-->

						<div class="shipping text-center"><!--shipping-->
							<img th:src="@{images/home/shipping.jpg}" alt="" />
						</div><!--/shipping-->

					</div>
				</div>

				<div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<img th:src="@{${product.productImage}}" alt="" />
								<h3>ZOOM</h3>
							</div>

						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<h2 th:text="${product.productName}"></h2>
								<p>Web ID: 1089772</p>
								<span>
									<span>$[[${product.price}]]</span>
									<label>Quantity:</label>
									<input type="text" th:value="${quantity}" />
										<a th:href="@{/cart/add(productId=${product.id}, quantity=${quantity})}" class="btn btn-default cart">
											<i class="fa fa-shopping-cart"></i>
											Add to cart
										</a>
								</span>
								<p><b>Availability:</b> In Stock</p>
								<p><b>Condition:</b> New</p>
								<p><b>Brand:</b> E-SHOPPER</p>
							</div><!--/product-information-->
						</div>
						<p><b>Description</b></p>
						<p><textarea>[[${product.description}]]</textarea></p>
					</div><!--/product-details-->

				</div>
			</div>
		</div>
	</section>
</section>
</html>