<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout.html}">

<section layout:fragment="content">
	<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>

						<div class="carousel-inner">
							<div class="item active">
								<div class="col-sm-6">
									<h1><span>E</span>-SHOPPER</h1>
									<h2>Free E-Commerce Template</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<img th:src="@{/assets/images/home/girl1.jpg}" class="girl img-responsive" alt="" />
									<img th:src="@{/assets/images/home/pricing.png}"  class="pricing" alt="" />
								</div>
							</div>
							<div class="item">
								<div class="col-sm-6">
									<h1><span>E</span>-SHOPPER</h1>
									<h2>100% Responsive Design</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<img th:src="@{/assets/images/home/girl2.jpg}" class="girl img-responsive" alt="" />
									<img th:src="@{/assets/images/home/pricing.png}"  class="pricing" alt="" />
								</div>
							</div>

							<div class="item">
								<div class="col-sm-6">
									<h1><span>E</span>-SHOPPER</h1>
									<h2>Free Ecommerce Template</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<img th:src="@{/assets/images/home/girl3.jpg}" class="girl img-responsive" alt="" />
									<img th:src="@{/assets/images/home/pricing.png}" class="pricing" alt="" />
								</div>
							</div>

						</div>

						<a th:href="@{#slider-carousel}" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a th:href="@{#slider-carousel}" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>

				</div>
			</div>
		</div>
	</section><!--/slider-->

	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-products-->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#category">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											CATEGORY
										</a>
									</h4>
								</div>
								<div id="category" class="panel-collapse collapse">
									<div class="panel-body">
										<ul th:each="category : ${categorys}">
											<li><a th:href="@{/public_page(category=${category.settingName})}">[[${category.settingName}]]</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div><!--/category-products-->

						<h2>BRAND</h2>
						<div class="panel-group category-products" id="accordian1"><!--category-products-->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian1" href="#brand">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											BRAND
										</a>
									</h4>
								</div>
								<div id="brand" class="panel-collapse collapse">
									<div class="panel-body">
										<ul th:each="brand : ${brands}">
											<li><a th:href="@{/public_page(brand=${brand.settingName})}">[[${brand.settingName}]]</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div><!--/category-products-->


						<div class="price-range"><!--price-range-->
							<h2>Price Range</h2>
							<div class="well text-center">
								<input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
								<b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
							</div>
						</div>
						<!--/price-range-->

						<div class="shipping text-center"><!--shipping-->
							<img th:src="@{/assets/images/home/shipping.jpg}" alt="" />
						</div><!--/shipping-->

					</div>
				</div>

				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Features Items</h2>

						<tr th:each="product : ${pageProduct.content}">
							<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img th:src="@{${product.productImage}}" alt="" height="300" />
										<h2>$[[${product.price}]]</h2>
										<p th:text="${product.productName}"></p>
										<a th:href="@{/cart/add(productId=${product.id})}" class="btn btn-default add-to-cart">
											<i class="fa fa-shopping-cart"></i>Add to cart
										</a>
										<a th:href="@{/cart/add(productId=${product.id}, quantity=1)}" class="btn btn-default add-to-cart">
											<i class="fa fa-shopping-cart"></i>
											Add to cart
										</a>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											<h2>$[[${product.price}]]</h2>
											<p th:text="${product.productName}"></p>
											<a th:href="@{/cart/add(productId=${product.id}, quantity=1)}" class="btn btn-default add-to-cart">
												<i class="fa fa-shopping-cart"></i>
												Add to cart
											</a>
											<a th:href="@{/productdetail(id=${product.id})}" class="btn btn-default add-to-cart">
												<i class="fa fa-eye"></i>View Detail
											</a>
										</div>
									</div>
								</div>
								</div>
							</div>
						</div>
						</tr>

					</div><!--features_items-->

					<!-- Pagination -->
					<ul class="pagination" th:if="${not pageProduct.empty}">
						<li class="page-item" th:classappend="${pageProduct.first ? 'disabled' : ''}">
							<a class="page-link" th:href="@{${'public_page?pageNo=' + (pageProduct.number - 1) + '&pageSize=' + pageProduct.size + '&brand=' + brand + '&category=' + category}}">Previous</a>
						</li>
						<li th:each="i : ${#numbers.sequence(0, pageProduct.totalPages - 1)}"
							th:classappend="${pageProduct.number == i ? 'page-item active' : 'page-item'}">
							<a class="page-link" th:href="@{${'public_page?pageNo=' + i + '&pageSize=' + pageProduct.size + '&brand=' + brand + '&category=' + category}}" th:text="${i + 1}"></a>
						</li>
						<li class="page-item" th:classappend="${pageProduct.last ? 'disabled' : ''}">
							<a class="page-link"  th:href="@{${'public_page?pageNo=' + (pageProduct.number + 1) + '&pageSize=' + pageProduct.size + '&brand=' + brand + '&category=' + category}}">Next</a>
						</li>
					</ul>

				</div>
			</div>
		</div>
	</section>
</section>

</html>